@media only screen and (max-width: 768px) {
    .nav-logo {
      height: 30px;
      width: 150px;
    }
    
    .search-input {
      width: 80%;
    }
    
    .panel-section {
      height: 100px;
    }
    
    .panel-img {
      height: 52px;
      width: 52px;
    }
    
    .box {
      height: 250px;
      width: 30%;
    }
    
    .box-img {
      height: 150px;
    }
  }
  @media only screen and (max-width: 576px) {
    .nav-logo {
      height: 20px;
      width: 120px;
    }
    
    .search-input {
      width: 60%;
      font-size: 0.8rem;
    }
    
    .panel-section {
      height: 80px;
    }
    
    .panel-img {
      height: 42px;
      width: 42px;
    }
    
    .box {
      height: 200px;
      width: 40%;
      padding: 15px 0 10px;
    }
    
    .box-img {
      height: 120px;
    }
  }
  @media only screen and (max-width: 414px) {
    .nav-logo {
      height: 15px;
      width: 100px;
    }
    
    .search-input {
      width: 50%;
      font-size: 0.7rem;
    }
    
    .panel-section {
      height: 60px;
    }
    
    .panel-img {
      height: 32px;
      width: 32px;
    }
    
    .box {
      height: 180px;
      width: 50%;
      padding: 10px 0 5px;
    }
    
    .box-img {
      height: 100px;
    }
  }